
.tab-content{
	background: #fff;
	margin-bottom: 50px;
}
.btn-action{
	margin-bottom: 20px;
	margin-top: -10px;
}
.btn-xs{
	padding: 3px 8px;
}
.btn-add{
	float: right;
	padding:10px 40px;
	font-size: 14px;
	margin-right: -17px;
}
.add-data{
	padding-top: 17px;
	float: right;
}

.page-title h3{
	padding: 0;
	margin: 0;
	font-size:18px;
}
table{
	font-size: 14px;
	border-top: 2px solid #a9dbff; 
}
.modal-title{
	text-transform: uppercase;
	font-weight: 600;
}
.body-blue{
	background: #e7f5ff;
	border-top: 2px solid #a9dbff;
}
.d{
	margin-bottom: 10px;
}
#d-title{
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
}
#d-total{
	font-size: 20px;
	font-weight: bold;
}
#sub-number{
	float: right;
	font-size: 18px;
	font-weight: bold;
}
#gt-title{
	font-size: 23px;
	font-weight: bold;
	text-transform: uppercase;
}
#grand-total{
	float: right;
	font-size: 25px;
	font-weight: bold;
}

#sub-total, #desc{
	float: right;
	margin-top: 15px;
	font-size: 28px;
	font-weight: bold;
}
.title-pos{
	padding-top: -10px;
}
.panel-title{
	margin: -25px -15px 15px -17px;
	padding-top:15px;
	border:0;
}
#sub-title{
	color: #999;
	font-weight: 600;
}
.group{
	margin:10px 0 10px 22px; font-weight: 600; text-transform: uppercase; font-size: 13px;
}
.nopadding{
	padding: 0;
}

/*LAPORAN*/
.report{
	border:1px solid #ddd;
	border-radius: 5px;
	padding: 30px 20px;
	margin-bottom: 20px;
	color: #696c80;
}
.report:hover{
	background: #44b2e4;
	transition: 1s;
	color: #fff;
	border:1px solid #44b2e4;
}
.r-icon{
	font-size: 30px;
	text-align: center;
}
.r-title h4{
	margin: 10px;
	font-size: 18px;
	text-align: center;
}
/*END LAPORAN*/